@font-face {
    font-family: "TT Commons Pro Edu";
    src: url("./TT_Commons_Pro_Bold.ttf");
}

@font-face {
    font-family: "TT Commons Pro Edu Db";
    src: url("./TT\ Commons\ Pro\ Educational\ Expanded\ DemiBold.ttf");
}

@font-face {
    font-family: "TT Commons Pro Edu Xdb";
    src: url("./TT\ Commons\ Pro\ Educational\ Expanded\ ExtraBlack.ttf");
}